<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/default.css">
        <title>Pet Care | Home</title>
    </head>
    
    <body>    
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="/signout">Logout</a></li>
        </ul>
        
        <div id='left'>
            <p>Your current Pets:</p>
            <form action="/changeAnimalStatus" method="post">
                <% if (rows) { rows.forEach(function(r) { %>
                    <p><%= r.name %> the <%= r.species %><br>
                    <% if ((((Math.floor(Date.now() / 1000)) - r.lastfed) >= 86400) || (!r.lastfed)) { %>
                        Hunger level: high
                    <% } else { %>
                        Hunger level: low
                    <% } %>
                        <button type="submit" id="feed" name="feed" value="<%=r.id%>">Give food</button><br>
                    <% if ((((Math.floor(Date.now() / 1000)) - r.lastdrink) >= 86400) || (!r.lastdrink)) { %>
                        Thirst level: high
                    <% } else { %>
                        Thirst level: low
                    <% } %>
                        <button type="submit" id="drink" name="drink" value="<%=r.id%>">Give water</button></p>
                <% }); }%>
            </form>
        </div>
        
        <div id='right'>
            <h1 style='margin-bottom: -15px;'><%= username %></h1>
            <h3>$<%= money %>.00</h3>
            
            <h2>Store</h2>
            <form action="/purchase" method="post">
                <label for="water">$2.00 - Water </label>
                <input class="num" type="number" name="water">
                <button type="submit">Purchase</button><br>
                <label for="food">$2.50 - Food </label>
                <input class="num" type="number" name="food">
                <button type="submit">Purchase</button>
            </form>
            
            <h2 style='margin-bottom: -15px;'>Purchase new pet</h2>
            <p>$20.00</p>
            
            <form action="/newAnimals" method="post">
                <label for="aname">Pet's Name: </label>	
                <input type="text" id="aname" name="aname" required><br>

                <label for="species">Species: </label>	
                <input type="text" id="species" name="species" required><br>

                <button type="submit">Purchase</button>
            </form>

            <h2>Your Items</h2>
            <p id="txtData">
            <% 
                if (items) { 
                    items.forEach(function(i) { %>
                        Food - Quantity: <%= i.food %><br>
                        Water - Quantity: <%= i.water %>
                    <% }); 
                } 
            %>
            </p>
        </div>
    </body>
</html>