<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/default.css">
        <title>Pet Care | Home</title>
    </head>
    
    <body>    
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="/signout">Logout</a></li>
        </ul>
        
        <div id='left'>
            <p>Your current Pets:</p>
            <form action="/changeAnimalStatus" method="post">
                <% rows.forEach(function(r) { %>
                    <p><%= r.name %> the <%= r.species %><br>
                    <% if ((((Math.floor(Date.now() / 1000)) - r.lastfed) >= 86400) || (!r.lastfed)) { %>
                        Hunger level: high
                    <% } else { %>
                        Hunger level: low
                    <% } %>
                        <button type="submit" id="feed" name="feed" value="<%=r.id%>">Give food</button><br>
                    <% if ((((Math.floor(Date.now() / 1000)) - r.lastdrink) >= 86400) || (!r.lastdrink)) { %>
                        Thirst level: high
                    <% } else { %>
                        Thirst level: low
                    <% } %>
                        <button type="submit" id="drink" name="drink" value="<%=r.id%>">Give water</button></p>
                <% }); %>
            </form>
        </div>
        
        <div id='right'>
            <h2><%= username %></h2>
            <h3><%= money %></h3>
            
            <h2>Store</h2>
            <form action="/purchase" method="post">
                <label for="water">Water </label>
                <input type="number" name="water">
                <button type="submit">Purchase</button>
                <label for="food">Food </label>
                <input type="number" name="food">
                <button type="submit">Purchase</button>
            </form>

            <h2>Your Items</h2>
            <% items.forEach(function(i) { %>
                <p id="txtData">
                    <%= i.name %> - Quantity: <%= i.quantity %><br>
                </p>
            <% }); %>
        </div>
        
        <br>
        
        <form action="/newAnimals" method="post">
            <label for="aname">Pet's Name: </label>	
            <input type="text" id="aname" name="aname" required><br>
            
            <label for="species">Species: </label>	
            <input type="text" id="species" name="species" required><br>
            
            <button type="submit">Add new pet</button>
<!--            <input type="button" value="Purchase new pet" onclick="window.location.href=window.location.href + '/newAnimals'"/>-->
        </form>
<!--
        
        <form action="/newItems" method="post">
            <label for="iname">Item's name: </label>	
            <input type="text" id="iname" name="iname" required><br>
            
            <label for="quantity">Quantity: </label>	
            <input type="text" id="quantity" name="quantity" required><br>
            
            <button type="submit">Add new item</button>
            <input type="button" value="Purchase new pet" onclick="window.location.href=window.location.href + '/newAnimals'"/>
        </form>
-->
    </body>
</html>