<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/default.css">
        <title>Pet Care | Home</title>
    </head>
    
    <script>
        var open = false;
        var prevId = null;
        
        function leave() {
          window.location = "/home";
        }
//        setTimeout("leave()", 5000);
        
        function load(name, species, id) {
            if (prevId != id)
                open = false;
            
            prevId = id;
            
            if (open) {
                document.getElementById("text").innerHTML = "";
                open = false;
            } else {
                document.getElementById("text").innerHTML = "<h3>Are you sure you want to remove</h3><p>" + name + " the " + species + "<br>" + "<form action='/removeAnimal' method='post'><button type='submit' name='remove' value=" + id + ">Yes, remove</button></form></p>";
                open = true;
            }
        }
    </script>
    
    <body>    
        <ul style='z-index: 10; position: absolute; top: 0; left: 0; right: 0;'>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ACCOUNT</a></li>
            <li><a href="/signout">LOGOUT</a></li>
        </ul>
        
        <div id='left' class="scrollbar">  
            
            <h3>Your current Pets:</h3>
            <form action="/changeAnimalStatus" method="post">
                <% if (typeof rows !== 'undefined' && rows != 0) { rows.forEach(function(r) { %>
                    <p><%= r.name %> the <%= r.species %>
                        <button type="button" onclick="load('<%= r.name %>', '<%= r.species %>', <%= r.id %>)">Remove<i class="fa times" aria-hidden="true"></i></button><br>
                    <% if ((((Math.floor(Date.now() / 1000)) - r.lastfed) >= 86400) || (!r.lastfed)) { %>
                        Hunger level: high
                    <% } else { %>
                        Hunger level: low
                    <% } %>
                        <button type="submit" id="feed" name="feed" value="<%=r.id%>">Give food<i class="fa cutlery" aria-hidden="true"></i></button><br>
                    <% if ((((Math.floor(Date.now() / 1000)) - r.lastdrink) >= 86400) || (!r.lastdrink)) { %>
                        Thirst level: high
                    <% } else { %>
                        Thirst level: low
                    <% } %>
                        <button type="submit" id="drink" name="drink" value="<%=r.id%>">Give water<i class="fa coffee" aria-hidden="true"></i></button></p>
                <% }); }%>
            </form>
        </div>
        
        <div id='right'>
            <h1 style='margin-bottom: -15px;'><%= username %></h1>
            <h3>$<%= money %>.00</h3>
            
            <h2>Store</h2>
            <form action="/newItems" method="post">
                <label for="food">$2.00 - Food </label>
                <input class="num" type="number" min=0 name="food">
                <button type="submit">Purchase</button><br>
                <label for="water">$2.00 - Water </label>
                <input class="num" type="number" min=0 name="water">
                <button type="submit">Purchase</button>
            </form>
            
            <h2 style='margin-bottom: -15px;'>Purchase new pet</h2>
            <p>$20.00</p>
            
            <form action="/newAnimals" method="post">
                <label for="aname">Pet's Name: </label>	
                <input type="text" id="aname" name="aname" required><br>

                <label for="species">Species: </label>	
                <input type="text" id="species" name="species" required><br>

                <button type="submit">Purchase</button>
            </form>

            <h2>Your Items</h2>
            <p id="txtData">
                Food - Quantity: <%= food %><br>
                Water - Quantity: <%= water %>
            </p>
        </div>
        
        <section id="text" style='z-index: -5;'>
            <h3 style="color: red;">
                <% if (errorMsg) { %>
                    <%= errorMsg %>
                    <script>
    //                    setTimeout("leave()", 3000);
                    </script>
                <% } %>
            </h3>
        </section>
        
    </body>
</html>